<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'head.html' %}

</head>
<body>
  <div class="container">
    <header class="header">
      <div class="row">
        <div class="nine columns">
          <h1>Magali Servel</h1>
          <h2>Computer science engineer</h2>
        </div>
        <div class="three columns">
          <img class="rounded" src="{{ url_for('static',filename='images/self.jpeg') }}">
        </div>
      </div>
    </header>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="#project">Projects</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#experience">Experiences</a></li>
          <li class="navbar-item"><a class="navbar-link" href="#education">Education</a></li>

          <li class="navbar-item right" title="Github">
            <a class="navbar-link" href="https://github.com/magservel" target="_blank"> <i class="fab fa-github"></i></a>
          </li>
          <li class="navbar-item" title="LinkedIn">
            <a class="navbar-link" href="https://www.linkedin.com/in/magali-servel/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="navbar-item" title="CV PDF in french">
            <a class="navbar-link" href="{{ url_for('static',filename='files/MagaliServel_CV.pdf') }}" target="_blank"><i class="fas fa-download"></i></a>
          </li>
        </ul>
      </div>
    </nav>

    {#
    <section class="projects">
      <a class="button" href="{{ url_for('gol') }}">Game of life</a>
    </section>
    #}

    <section class="education">
      <h4>Education</h4>
      <div class="row">
        <div class="two columns" style="text-align: right;">2012 -- 2017</div>
        <div class="ten columns"><strong>Computer science engineer degree</strong>, <em>Polytech</em>, Marseille <br>
          Critical and embedded systems <br>
          <strong>Erasmus program (1 year)</strong>, Articificial intelligence, <em>ITC Uppsala</em>, Sweden.
        </div>
      </div>
      <div class="row">
        <div class="two columns" style="text-align: right;">2012</div>
        <div class="ten columns"><strong>Baccalauréat option Sciences </strong>, <em>Nevers Highschool</em>, Montpellier.
        </div>
      </div>
    </section>
  </div>

</body>
</html>